.taskCard {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--gray-400);
  padding: 1rem;
  gap: 0.5rem;

  border-radius: 8px;
}

.taskCard > button {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50px;
  border: 2px solid var(--gray-300);
  cursor: pointer;
  background-color: var(--gray-300);
  
}

.taskCard > p {
  font-size: 0.875rem;
  max-width: 80%;
  overflow:hidden;
  
}

.taskCard > input {
  border-radius: 50%;
}

.taskCard > span {
  color: var(--gray-300);
  cursor: pointer;
}

.taskCardDone {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  align-items: flex-start;
  justify-content: space-between;


  background: var(--gray-500);
  padding: 1rem;
  gap: 0.5rem;

  border-radius: 8px;
}

.taskCardDone > button {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50px;
  border: 2px solid var(--gray-300);
  cursor: pointer;
  background-color: var(--blue-dark);
  cursor: pointer;
}

.taskCardDone > p {
  font-size: 0.875rem;
  text-decoration: line-through;
  max-width: 80%;
  overflow:hidden;
}

.taskCardDone > input {
  border-radius: 50%;
}

.taskCardDone > span {
  color: var(--gray-300);
  cursor: pointer !important;
}
